<!-- CABECERA -->
<header id="header">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a href="" class="navbar-brand">CONCESIONARIO</a>
    </div>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li><a href="">Inicio</a></li>
        <li><a href="">Crear coche</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['login']">Identificate</a></li>
        <li><a [routerLink]="['registro']">Registro</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- CONTENIDO -->
<router-outlet></router-outlet>